body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
  
#green {
   background-color: #8ffda7; 
   grid-row-start: 1; grid-row-end: 2;
   grid-column-start: 1; grid-column-end: 4;
}
#yellow {
   background-color: #ffff92; 
   grid-row-start: 2; grid-row-end: 3;
   grid-column-start: 1; grid-column-end: 2;
}
#red {
   background-color: #ff919c; 
   grid-row-start: 2; grid-row-end: 3;
   grid-column-start: 2; grid-column-end: 3;
}
#blue {
   background-color: #98d2ff; 
   grid-row-start: 2; grid-row-end: 4;
   grid-column-start: 3; grid-column-end: 4;
}
#orange {
   background-color: #ffc788; 
   grid-row-start: 3; grid-row-end: 4;
   grid-column-start: 1; grid-column-end: 3;
}

